<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <label for="">
    Change this to Change IFrame content <br>
    <input type="text" v-model="dynamicPart">  
  </label>
  
  <div>
   <i-frame class="my-frame">
    <test-child title="This is a Title from a Prop!">
      <p>This was rendered in an iframe!</p>
      {{{dynamicPart}}}
      <button @click="show = true">Click me to see events work, too!</button>
    </test-child>
  </i-frame> 
  <div v-if="show">
    <p>This paragraph appeared because of the button click in the iframe! </p>
  </div>
  </div>
  
</div>
